body{

    background-image: url('../images/fondo.png');
    background-size: cover;
    background-attachment: fixed;
}
#prueba{
    width: 100px; 
    height: 100px;
}

table#estilo { 
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100; 
    background: #333; color: #fff;
    text-rendering: optimizeLegibility;
    border-radius: 5px; 
  }
  table#estilo caption { 
    font-size: 2rem; color: #444;
    margin: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left, center right; 
  }
  table#estilo thead th { font-weight: 600; }
  table#estilo thead th, table#estilo tbody td { 
    padding: .8rem; font-size: 1.4rem;
  }
  table#estilo tbody td { 
    padding: .8rem; font-size: 1.4rem;
    color: #444; background: #eee; 
  }
  table#estilo tbody tr:not(:last-child) { 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;  
  }
  
  @media screen and (max-width: 600px) {
    table#estilo caption { background-image: none; }
    table#estilo thead { display: none; }
    table#estilo tbody td { 
      display: block; padding: .6rem; 
    }
    table#estilo tbody tr td:first-child { 
      background: #666; color: #fff; 
    }
      table#estilo tbody td:before { 
      content: attr(data-th); 
      font-weight: bold;
      display: inline-block;
      width: 6rem;  
    }
  }


        
